---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
}

const { variant = "h2", data, id, filePath } = Astro.props;

const { title, description, pubDatetime, modDatetime, timezone, tags } = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li class="my-6">
  <a
    href={getPath(id, filePath)}
    class="inline-block text-lg font-medium text-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    {
      variant === "h2" ? (
        <h2 {...headerProps}>{title}</h2>
      ) : (
        <h3 {...headerProps}>{title}</h3>
      )
    }
  </a>
  <ul>
    {tags.map((tag) => (
      <li class="my-0.5 font-mono inline-block decoration-dashed hover:underline"
      >
        <a
          href={`/tags/${slugifyStr(tag)}/`}
          class="group pr-2 text-sm"
        >
          <span># {tag}</span>
        </a>
      </li>
    ))}
  </ul>
  <p>{description}</p>
  <Datetime {pubDatetime} {modDatetime} {timezone} />
</li>
